<div class="test">
  <div class="dialog-content">
    <div class="dialog-content__header">
      <h3>Station {{ borne.id.substring(2, borne.id.length > 6 ? 6 : borne.id.length) }}</h3>
    </div>

    <div class="dialog-content__info">
      <div><span class="bold">Water Height:</span> {{ borne.waterHeightToString() }}</div>
      <mat-form-field class="example-full-width">
        <input
          matInput
          [(ngModel)]="phoneNumber"
          placeholder="Entrez votre numéro de téléphone"
        />
      </mat-form-field>
    </div>
    <div *ngIf="!subscriptionLoading" class="dialog-content__actions">
      <button *ngIf="!alreadyRegistered" mat-raised-button (click)="borneSubscribe()">
        {{ subscribeText }}
      </button>
      <div *ngIf="alreadyRegistered">
        <div class="warning">
          <mat-icon>error_outline</mat-icon>
          <span>You are already registered at this terminal</span>
        </div>
        <button *ngIf="!alreadyRegistered" mat-raised-button (click)="borneUnsubscribe()">
          {{ unsubscribeText }}
        </button>
      </div>
    </div>

    <div *ngIf="subscriptionLoading" class="dialog-content__spinner">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
  </div>
</div>

<button id="none" mat-raised-button (click)="close()"></button>
