::ng-deep.mat-dialog-container {
  padding: 0px;
}
.dialog-content__header {
  background-color: #a9b9d9;
  position: relative;
  bottom: 18px;
  height: 41px;
  padding: 24px;
}
.dialog-content__info {
  margin-left: 24px;
  margin-right: 24px;

  .mat-form-field {
    margin-top: 24px;
    width: -webkit-fill-available;
  }
}
.dialog-content__actions {
  margin: 24px;
  button {
    width: -webkit-fill-available;
  }
}

.dialog-content__spinner {
  display: flex;
  margin: 24px;
  justify-content: center;
}

.bold {
  font-weight: 500;
}
.warning {
  color: orange;
  display: flex;
  align-items: center;
  span {
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.none {
  display: none;
}
