.bold {
  font-weight: 500;
}

.svg-router {
  display: flex;
  justify-content: space-around;
}
.close {
  width: 22px;
  margin-left: 22px;
  margin-right: 18px;
  margin-top: 10px;
  float: right;
  align-self: flex-start;
}
.card-content {
  //margin: 20px;
  margin-left: 29px;
  margin-top: 20px;
}
.content {
  display: flex;
  flex-direction: row-reverse;
}

svg {
  width: 41px;
  height: 41px;
  cursor: pointer;
}
h2.bold {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 30px;
}

.iconMenu {
  display: flex;
  flex-direction: column;
  span {
    margin-top: 20px;
    font-size: 12px;
    margin-left: 8px;
  }
}
.active {
  fill: #f08337;
}
.alert {
  font-size: 12px;
  position: relative;
  top: 24px;
}

.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: -webkit-fill-available;
}
.waterProblem {
  margin-top: 51px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.contact {
  display: flex;
  .first {
    margin-right: 15px;
  }
}
.dialog-content__actions {
  margin: 24px;
  button {
    width: -webkit-fill-available;
  }
}
.form-group {
  display: flex;
  flex-direction: column;
}
.dialog-content__check {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
  color: green;

  button {
    margin-top: 52px;
  }
}

.dialog-content__error {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
  color: red;

  button {
    margin-top: 52px;
  }
}

::ng-deep.mat-form-field-infix {
  width: auto !important;
}
