<div class="content">
  <svg
    (click)="close()"
    class="close"
    version="1.1"
    id="Capa_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 512.001 512.001"
    style="enable-background:new 0 0 512.001 512.001;"
    xml:space="preserve"
  >
    <g>
      <g>
        <path
          d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
			L284.286,256.002z"
        />
      </g>
    </g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
    <g></g>
  </svg>
  <div class="card-content">
    <h2 class="bold">Signaler un problème</h2>
    <div *ngIf="!isSucess && !isEchec" class="svg-router">
      <div class="iconMenu">
        <svg
          (click)="water()"
          [class.active]="currentState === REPORT_STATE.WATER"
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 248.151 248.151"
          style="enable-background:new 0 0 248.151 248.151;"
          xml:space="preserve"
        >
          <g>
            <g>
              <path
                [class.active]="currentState === REPORT_STATE.WATER"
                d="M134.475,8.551c-6.8-11.6-14-11.2-20.8,0c-31.2,46.4-78.4,116-78.4,150.8c0,24.4,10,46.8,26,62.8s38.4,26,62.8,26
			c24.4,0,46.8-10,62.8-26s26-38.4,26-62.8C212.875,124.151,165.675,54.951,134.475,8.551z M188.075,198.951
			c-6.4,10.4-15.6,19.6-26.8,26c-5.2,2.8-11.6,1.2-14.4-4c-3.2-5.6-1.2-12,4-14.8c8-4.4,14.4-10.8,19.2-18.4
			c4.8-7.6,7.6-16.4,8-25.6c0.4-6,5.2-10.4,11.2-10c6,0.4,10.4,5.2,10,11.2C198.475,176.151,194.475,188.151,188.075,198.951z"
              />
            </g>
          </g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </svg>

        <span>Eau</span>
      </div>
      <div class="iconMenu">
        <svg
          [class.active]="currentState === REPORT_STATE.ROAD"
          (click)="closedRoad()"
          height="512"
          viewBox="0 0 58 55"
          width="512"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="Page-1" fill="none" fill-rule="evenodd">
            <g id="058---Road-Closed" fill="rgb(0,0,0)" fill-rule="nonzero">
              <circle [class.active]="currentState === REPORT_STATE.ROAD" id="Oval" cx="15" cy="5" r="5" />
              <circle [class.active]="currentState === REPORT_STATE.ROAD" id="Oval" cx="43" cy="5" r="5" />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Shape"
                d="m0 26c.00159279.5516236.44837635.9984072 1 1h7.55l-4.23-11h-3.32c-.55162365.0015928-.99840721.4483764-1 1z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Shape"
                d="m10.69 27h4.85l-4.23-11h-4.85z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Shape"
                d="m22.32 16h-8.87l4.23 11h8.87z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Shape"
                d="m33.54 27-4.23-11h-4.85l4.23 11z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Shape"
                d="m44.55 27-4.23-11h-8.87l4.23 11z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Shape"
                d="m51.54 27-4.23-11h-4.85l4.23 11z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Shape"
                d="m57 16h-7.55l4.23 11h3.32c.5516236-.0015928.9984072-.4483764 1-1v-9c-.0015928-.5516236-.4483764-.9984072-1-1z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Shape"
                d="m1 34c-.55162365.0015928-.99840721.4483764-1 1v9c.00159279.5516236.44837635.9984072 1 1h7.55l-4.23-11z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Shape"
                d="m11.31 34h-4.85l4.23 11h4.85z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Shape"
                d="m13.45 34 4.23 11h8.87l-4.23-11z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Shape"
                d="m24.46 34 4.23 11h4.85l-4.23-11z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Shape"
                d="m40.32 34h-8.87l4.23 11h8.87z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Shape"
                d="m42.46 34 4.23 11h4.85l-4.23-11z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Shape"
                d="m57 34h-7.55l4.23 11h3.32c.5516236-.0015928.9984072-.4483764 1-1v-9c-.0015928-.5516236-.4483764-.9984072-1-1z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Shape"
                d="m12 11.32v2.68h6v-2.68c-1.8972429.9066735-4.1027571.9066735-6 0z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Rectangle-path"
                d="m12 29h6v3h-6z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Shape"
                d="m12 53c.0032402 1.1032246.8967754 1.9967598 2 2h2c1.1032246-.0032402 1.9967598-.8967754 2-2v-6h-6z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Shape"
                d="m40 11.32v2.68h6v-2.68c-1.8972429.9066735-4.1027571.9066735-6 0z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Rectangle-path"
                d="m40 29h6v3h-6z"
              />
              <path
                [class.active]="currentState === REPORT_STATE.ROAD"
                id="Shape"
                d="m40 53c.0032402 1.1032246.8967754 1.9967598 2 2h2c1.1032246-.0032402 1.9967598-.8967754 2-2v-6h-6z"
              />
            </g>
          </g>
        </svg>

        <span>Route</span>
      </div>
      <div class="iconMenu">
        <svg
          [class.active]="currentState === REPORT_STATE.HELP"
          (click)="needHelp()"
          enable-background="new 0 0 60 60"
          height="512"
          viewBox="0 0 60 60"
          width="512"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            [class.active]="currentState === REPORT_STATE.HELP"
            d="m30 47c-1.654 0-3-1.346-3-3v-3c0-1.654 1.346-3 3-3s3 1.346 3 3v3c0 1.654-1.346 3-3 3zm0-7c-.552 0-1 .448-1 1v3c0 .552.448 1 1 1s1-.448 1-1v-3c0-.552-.448-1-1-1z"
          />
          <path
            [class.active]="currentState === REPORT_STATE.HELP"
            d="m30 36.029c-1.654 0-3-1.346-3-3v-2.029c0-3.314 1.64-6.599 4.081-8.173.584-.377.928-1.019.918-1.714-.014-1.053-.99-2.1-1.97-2.113-.511 0-.986.204-1.362.575-.424.419-.667.99-.667 1.569 0 1.654-1.346 3-3 3s-3-1.346-3-3c0-2.173.895-4.302 2.455-5.84 1.505-1.486 3.475-2.304 5.548-2.304h.111c4.214.061 7.826 3.738 7.886 8.031.039 2.776-1.332 5.332-3.666 6.838-.723.466-1.334 1.9-1.334 3.131v2.029c0 1.655-1.346 3-3 3zm.005-19.029c2.123.029 3.965 1.938 3.995 4.086.02 1.388-.666 2.667-1.833 3.422-1.895 1.221-3.167 3.83-3.167 6.492v2.029c0 .552.448 1 1 1s1-.448 1-1v-2.029c0-1.67.772-3.859 2.25-4.812 1.751-1.129 2.779-3.046 2.75-5.129-.045-3.239-2.754-6.014-5.915-6.059-1.625 0-3.097.613-4.226 1.728-1.181 1.165-1.859 2.774-1.859 4.416 0 .552.448 1 1 1s1-.448 1-1c0-1.109.46-2.2 1.263-2.992.753-.743 1.727-1.152 2.742-1.152z"
          />
          <path
            [class.active]="currentState === REPORT_STATE.HELP"
            d="m30 56c-.552 0-1-.447-1-1s.448-1 1-1c13.233 0 24-10.767 24-24s-10.767-24-24-24c-13.234 0-24 10.767-24 24 0 .553-.448 1-1 1s-1-.447-1-1c0-14.337 11.664-26 26-26s26 11.663 26 26-11.664 26-26 26z"
          />
          <path
            [class.active]="currentState === REPORT_STATE.HELP"
            d="m1 60c-.266 0-.526-.106-.718-.304-.268-.275-.354-.68-.221-1.04l4.612-12.58c-3.059-4.808-4.673-10.355-4.673-16.076 0-16.542 13.458-30 30-30s30 13.458 30 30-13.458 30-30 30c-5.533 0-10.929-1.521-15.635-4.4l-13.049 4.348c-.103.035-.21.052-.316.052zm13.495-6.498c.188 0 .374.053.536.155 4.479 2.841 9.656 4.343 14.969 4.343 15.439 0 28-12.561 28-28s-12.561-28-28-28-28 12.561-28 28c0 5.498 1.597 10.823 4.619 15.4.175.265.214.597.104.895l-4.07 11.1 11.525-3.841c.104-.035.21-.052.317-.052z"
          />
        </svg>

        <span>Aide</span>
      </div>
    </div>
    <div *ngIf="!isSending && !isSucess && !isEchec">
      <div *ngIf="currentState === REPORT_STATE.WATER" class="waterProblem">
        <mat-form-field class="example-full-width">
          <mat-label>Entrez les détails du problème détecté</mat-label>
          <textarea [(ngModel)]="description" matInput placeholder=""></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="currentState === REPORT_STATE.ROAD" class="waterProblem">
        <mat-form-field class="example-full-width">
          <mat-label>Entrez les détails du problème détecté</mat-label>
          <textarea [(ngModel)]="description" matInput placeholder=""></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="currentState === REPORT_STATE.HELP" class="waterProblem">
        <div class="contact">
          <mat-form-field class="example-full-width first">
            <mat-label>Nom</mat-label>
            <input [(ngModel)]="name" matInput placeholder="Entrez votre nom" />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Téléphone</mat-label>
            <input
              [(ngModel)]="phoneNumber"
              matInput
              placeholder="Entrez votre téléphone"
            />
          </mat-form-field>
        </div>
        <mat-form-field class="example-full-width">
          <mat-label>Entrez les détails de l'aide demandé</mat-label>
          <textarea matInput [(ngModel)]="description" placeholder=""></textarea>
        </mat-form-field>
        <!-- <div class="form-group">
        <label for="file">Télécharger une photo</label>
        <input type="file" id="file" (change)="handleFileInput($event.target.files)" />
      </div> -->
      </div>
      <div class="dialog-content__actions">
        <button mat-raised-button color="primary" (click)="sendReport()">
          Envoyer
        </button>
      </div>
    </div>

    <div *ngIf="isSending" class="dialog-content__spinner">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
    <div *ngIf="isSucess" class="dialog-content__check">
      <mat-icon aria-hidden="false" aria-label="Example home icon">done_outline</mat-icon>
      <span class="alert">Votre signalement à bien été envoyé.</span>
      <button mat-raised-button color="primary" (click)="close()">
        fermer
      </button>
    </div>
    <div *ngIf="isEchec" class="dialog-content__error">
      <mat-icon aria-hidden="false" aria-label="Example home icon">cancel</mat-icon>
      <span class="alert">Votre signalement n'a pas été envoyé.</span>
      <button mat-raised-button color="primary" (click)="close()">
        fermer
      </button>
    </div>
  </div>
</div>
