<div class="test">
  <div class="dialog-container">

    <div class="dialog-content">
      <div class="dialog-content__header-info">
        <h2 class="bold">{{typeName}}</h2>
        <svg matTooltip={{toolTipInfo}} xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path fill="#f08337" d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
        <!-- <div>{{ zoneInfo.floodableZoneDescription }}</div> -->
      </div>
      <div class="dialog-content__address-info">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path fill="#b0b0b0" d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9z"/><circle fill="#b0b0b0" cx="12" cy="9" r="2.5"/></svg>
        <div>{{ address }}</div>
      </div>
      <div class="dialog-content__info">
        <div class="dialog-content__info-row">
          <span class="span">Historique d'innondations : </span>
          <div class="floodedYears" *ngFor="let year of zoneInfo.floodedYears; let last = last">
            &nbsp;{{ year }}<ng-container *ngIf="!last">, </ng-container>
          </div>
        </div>
      </div>

<div class="formField">
  <mat-form-field class="example-full-width">
    <mat-label>S'abonner aux notifications</mat-label>
    <input matInput
    [(ngModel)]="phoneNumber"
    placeholder="Entrez votre numéro de téléphone">
  </mat-form-field>
  <span class="alert">* Vous pouvez vous abonner afin de recevoir des SMS en cas d'alerte.</span>
</div>

    </div>
    <div *ngIf="!subscriptionLoading" class="dialog-content__actions">
      <button mat-raised-button color="primary"(click)="borneSubscribe()">
        S'abonner
      </button>
    </div>

    <div *ngIf="subscriptionLoading" class="dialog-content__spinner">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
  </div>
  <!-- <div class="dialog-content__header">
    <svg
      (click)="onNoClick()"
      xmlns="http://www.w3.org/2000/svg"
      height="24"
      viewBox="0 0 24 24"
      width="24"
    >
      <path
        d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
      />
      <path d="M0 0h24v24H0z" fill="none" />
    </svg>
  </div> -->
</div>
