::ng-deep.mat-dialog-container {
  padding: 0px;
}
hr {
  position: relative;
  bottom: 34px;
  border-top: 0px solid #8c8b8b;
}
.dialog-content__header {
  //@warn: #a9b9d9;
  // position: relative;
  // bottom: 10px;
  // height: 41px;
  // padding: 24px;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
}
.dialog-content {
  margin-left: 24px;
  margin-right: 24px;

  // &__info {
  //   display: flex;
  //   flex-direction: row;
  //   margin-bottom: 12px;

  //   span {
  //     margin-right: 5px;
  //   }
  // }

  .mat-form-field {
    margin-top: 24px;
    width: -webkit-fill-available;
  }
}
.dialog-content__actions {
  margin: 24px;
  button {
    width: -webkit-fill-available;
  }
}

.dialog-content__spinner {
  display: flex;
  margin: 24px;
  justify-content: center;
}

.bold {
  font-weight: 500;
}
// .span {
//   color: #b0b0b0;
//   font-weight: 100;
//   margin-right:20px;
//   font-size:14px;
// }
.warning {
  color: orange;
  display: flex;
  align-items: center;
  span {
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.floodedYears {
  display: flex;
  flex-direction: row;
}

.dialog-content__header-info {
    display: flex;
    align-items: center;

    h2{
      margin-right: 5px;
    margin-bottom: 3px;
    }
}
.dialog-content__address-info {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    position: relative;
    right: 5px;
}
.dialog-content__info {
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    &-row {
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
}
}
.alert{
      font-size: 12px;
    color: #b0b0b0;
        position: relative;
    bottom: 19px;
}
.formField {
    max-width: 341px;
}
