<div class="search">
  <input #search matInput placeholder="Rechercher mon adresse" autocorrect="off" autocapitalize="off"
    spellcheck="off" />
  <!-- (blur)="openDialog(search.value)" -->
  <!-- <mat-icon matSuffix>search</mat-icon> -->
</div>

<agm-map style="height: 93vh" [zoom]="zoom" [latitude]="mapLat" [longitude]="mapLng" [mapTypeId]="mapType"
  [streetViewControl]="streetViewControl" (mapClick)="onMapReady($event)">
  <agm-polygon *ngFor="let flaque of flaques" [paths]="flaque.locs" fillColor="red" strokeColor="red" strokeWeight="5"
    clickable=true (polyClick)="polyClick($event)">
  </agm-polygon>

  <!--agm-marker
    [latitude]="yourMarker.lat"
    [longitude]="yourMarker.lng"
    (markerClick)="selectYourMarker($event)"
  >
  </agm-marker-->

  <agm-marker-cluster
    imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
    <agm-marker *ngFor="let report of reports" [latitude]="report.coordinates.lat" [longitude]="report.coordinates.lng"
      [markerDraggable]="false" (markerClick)="selectReport(report)" [iconUrl]="iconFromType(report.eventType)">
    </agm-marker>
  </agm-marker-cluster>
  <agm-marker *ngFor="let marker of bornes" [latitude]="marker.position.lat" [longitude]="marker.position.lng"
    [markerDraggable]="false" [iconUrl]="icon">
  </agm-marker>



</agm-map>
