agm-map {
  height: 98vh; /* height is required */
}

input {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  //background-image: url('baseline_search_black_18dp.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  width: 400px;
  max-width:80%;
}

// input:focus {
//   width: 100%;
// }

.search {
  position: absolute;
  z-index: 1;
  margin-top: 8px;
  margin-left: 8px;
}

.mat-radio-button {
  display: flex;
  flex-direction: column;
}

mat-radio-button {
  margin-bottom: 24px;
}

.radio {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 8px;
  margin-left: 8px;

  svg {
    margin-bottom: 20px;
  }
}

::ng-deep .mat-menu-content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px !important;
}
