<table mat-table [dataSource]="dataSource.bornes" class="mat-elevation-z8 full-width-table">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Statut</th>
    <mat-icon [ngStyle]="{ color: 'green  ' }">home</mat-icon>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>

  <ng-container matColumnDef="deviceId">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.deviceId }}</td>
  </ng-container>

  <ng-container matColumnDef="currentWaterLevel">
    <th mat-header-cell *matHeaderCellDef>Niveau d'eau actuel (m)</th>
    <td mat-cell *matCellDef="let element">{{ element.currentWaterLevel }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
