.tab-content {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.top-row {
  display: flex;
  flex-direction: column;
  width: 25vw;
}
.form {
  display: flex;
  flex-direction: column;
}
.password {
  display: flex;
  flex-direction: column;
  .forgot {
    font-size: 13px;
    align-self: flex-end;
  }
}

div#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1px;
  padding: 32px;
  margin-bottom: 24px;
  max-width: 700px;
}
