<div class="form">
  <div class="tab-content">
    <app-sign-in-dashboard *ngIf="!currentUser" (handleSubmit)="signIn($event)"></app-sign-in-dashboard>
    <app-profile-dashboard *ngIf="currentUser"></app-profile-dashboard>
  </div>
</div>
