.grid-container {
  margin: 20px;
}

.dashboard-card {
  margin-left: 54px;
  margin-right: 54px;
  margin-top: 10px;
  padding: 0px !important;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
hr {
  border-top: 0.1px solid #e0e0e0;
}
svg {
  width: 45px;
  height: 45px;
}
.textInfo {
  font-size: 13px;
}
.cardTitle {
  font-size: 20px;
  font-weight: 500;
  margin-left: 54px;
}
.infoCard {
  margin-left: 54px;
  margin-top: 42px;
  min-width: 200px;
}

.dashboardHeader {
  display: flex;
  flex-wrap: wrap;
}
.infodata {
  font-size: 30px;
  margin-bottom: 7px;
}

.reportCard {
  margin-left: 54px;
  margin-top: 10px;
  margin-right: 54px;
  padding: 0px !important;
}

.header {
  display: flex;
  align-items: center;
  svg {
    margin-right: 20px;
  }
}
.blueColor {
  fill: #3d5aff;
}

.pinkColor {
  fill: #ff80ab;
}
.yellowColor {
  fill: #d0b02d;
}

.greenColor{
  fill: #3bb143
}

::ng-deep table.mat-table {
  width: -webkit-fill-available;
}

.active {
  background-color: #bbf3a2 !important;
}

.inactive {
  background-color: #fda8a2 !important;
}
.card-header-content {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
}

mat-icon {
  cursor: pointer;
  margin-right: 24px;
}
td.mat-cell.cdk-column-description.mat-column-description.ng-star-inserted {
  width: 1348px;
}

.smsContent.ng-star-inserted {
  margin-left: 54px;
  margin-top: 42px;
  max-width: 600px;
}

.first {
  margin-right: 24px;
  flex-grow: 1;
}
mat-form-field.example-full-width.mat-form-field.ng-tns-c14-3.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.ng-valid.mat-form-field-should-float.ng-dirty.ng-touched {
  display: block;
  max-width: 500px;
}

mat-form-field.example-full-width.mat-form-field.ng-tns-c14-2.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.ng-valid.mat-form-field-should-float.ng-dirty.ng-touched {
  flex-grow: 1;
}
mat-form-field.example-full-width.mat-form-field.ng-tns-c14-3.mat-primary.mat-form-field-type-mat-input.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-has-label.ng-valid.mat-form-field-should-float.ng-dirty.ng-touched[_ngcontent-mkl-c9] {
  display: block;
  /* max-width: 500px; */
}
button.mat-raised-button.mat-button-base.mat-primary {
  display: block;
  flex-grow: 1;
}
.action {
  display: flex;
}

.dialog-content__check {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
  color: green;

  button {
    margin-top: 52px;
  }
}

.dialog-content__error {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
  color: red;

  button {
    margin-top: 52px;
  }
}

.mat-form-field {
  display: block !important;
  flex-grow: 1;
}
.row {
  display: flex;
}

 img{
   width: 30px;
   height: 30px;
 }
 .mat-cell {
  padding: 24px 24px 24px 0;
}
