<div class="grid-container">
  <h1 class="mat-h1">Tableau de bord de Laval</h1>
  <mat-tab-group>
    <mat-tab label="Générale">
      <div class="dashboardHeader">
        <mat-card class="infoCard">
          <svg class="blueColor" id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512"
            width="512" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m359.058 142.671c6.174 2.837 11.155 6.926 16.428 11.254 10.68 8.767 22.784 18.703 46.178 18.703s35.498-9.937 46.178-18.703c9.999-8.208 18.635-15.297 36.659-15.297 4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5c-23.393 0-35.497 9.937-46.177 18.703-9.999 8.208-18.635 15.297-36.66 15.297s-26.661-7.089-36.66-15.297c-5.776-4.742-11.749-9.645-19.682-13.29-3.764-1.729-8.217-.08-9.946 3.683-1.731 3.765-.082 8.218 3.682 9.947z" />
            <path
              d="m7.5 138.629c18.023 0 26.658 7.089 36.656 15.297 10.679 8.767 22.782 18.703 46.175 18.703s35.496-9.937 46.175-18.703c9.998-8.208 18.634-15.297 36.657-15.297s26.658 7.089 36.656 15.297c10.679 8.767 22.782 18.703 46.174 18.703 23.393 0 35.496-9.937 46.176-18.703 9.696-7.96 18.071-14.835 34.941-15.275 4.141-.108 7.41-3.552 7.302-7.693-.107-4.141-3.567-7.393-7.692-7.302-22.018.574-33.732 10.191-44.068 18.676-9.999 8.208-18.634 15.297-36.658 15.297-18.023 0-26.658-7.089-36.656-15.297-10.679-8.767-22.782-18.703-46.174-18.703-23.393 0-35.496 9.937-46.175 18.703-9.998 8.208-18.634 15.297-36.657 15.297s-26.659-7.089-36.657-15.297c-10.679-8.767-22.782-18.703-46.174-18.703-4.143 0-7.5 3.358-7.5 7.5s3.356 7.5 7.499 7.5z" />
            <path
              d="m504.5 195.543c-23.393 0-35.497 9.936-46.177 18.703-9.999 8.208-18.635 15.297-36.66 15.297-18.024 0-26.66-7.089-36.659-15.297-10.68-8.767-22.784-18.703-46.178-18.703-23.392 0-35.496 9.937-46.175 18.703-9.999 8.208-18.634 15.297-36.658 15.297-18.023 0-26.658-7.089-36.656-15.297-10.679-8.767-22.782-18.703-46.174-18.703-23.393 0-35.496 9.937-46.175 18.703-9.998 8.208-18.634 15.297-36.657 15.297s-26.659-7.089-36.657-15.297c-10.679-8.767-22.782-18.703-46.174-18.703-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5c18.023 0 26.658 7.089 36.656 15.297 10.679 8.767 22.782 18.703 46.175 18.703s35.496-9.937 46.175-18.703c9.998-8.208 18.634-15.297 36.657-15.297s26.658 7.089 36.656 15.297c10.679 8.767 22.782 18.703 46.174 18.703 23.393 0 35.497-9.937 46.176-18.703 9.999-8.208 18.634-15.297 36.657-15.297 18.025 0 26.661 7.089 36.66 15.297 10.68 8.767 22.784 18.703 46.177 18.703 23.394 0 35.498-9.937 46.178-18.703 9.999-8.208 18.635-15.297 36.659-15.297 4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z" />
            <path
              d="m504.5 267.457c-23.393 0-35.497 9.936-46.177 18.703-9.999 8.208-18.635 15.297-36.66 15.297-18.024 0-26.66-7.089-36.659-15.297-10.68-8.767-22.784-18.703-46.178-18.703-23.392 0-35.496 9.937-46.175 18.703-9.999 8.208-18.634 15.297-36.658 15.297-18.023 0-26.658-7.089-36.656-15.297-10.679-8.767-22.782-18.703-46.174-18.703-23.393 0-35.496 9.937-46.175 18.703-9.998 8.208-18.634 15.297-36.657 15.297s-26.659-7.089-36.657-15.297c-10.679-8.767-22.782-18.703-46.174-18.703-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5c18.023 0 26.658 7.089 36.656 15.297 10.679 8.767 22.782 18.703 46.175 18.703s35.496-9.937 46.175-18.703c9.998-8.208 18.634-15.297 36.657-15.297s26.658 7.089 36.656 15.297c10.679 8.767 22.782 18.703 46.174 18.703 23.393 0 35.497-9.937 46.176-18.703 9.999-8.208 18.634-15.297 36.657-15.297 18.025 0 26.661 7.089 36.66 15.297 10.68 8.767 22.784 18.703 46.177 18.703 23.394 0 35.498-9.937 46.178-18.703 9.999-8.208 18.635-15.297 36.659-15.297 4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5z" />
            <path
              d="m504.5 339.371c-23.393 0-35.497 9.937-46.177 18.703-9.999 8.208-18.635 15.297-36.66 15.297-18.024 0-26.66-7.089-36.659-15.297-10.68-8.767-22.784-18.703-46.178-18.703-23.392 0-35.496 9.937-46.175 18.703-9.999 8.208-18.634 15.297-36.658 15.297-18.023 0-26.658-7.089-36.656-15.297-6.854-5.627-13.943-11.447-24.161-15.123-3.897-1.402-8.194.621-9.597 4.519-1.401 3.897.621 8.194 4.519 9.596 7.78 2.799 13.581 7.561 19.722 12.602 10.679 8.767 22.782 18.703 46.174 18.703 23.393 0 35.497-9.937 46.176-18.703 9.998-8.208 18.634-15.297 36.657-15.297 18.025 0 26.661 7.089 36.66 15.297 10.68 8.767 22.784 18.703 46.177 18.703 23.394 0 35.498-9.937 46.178-18.703 9.999-8.208 18.635-15.297 36.659-15.297 4.143 0 7.5-3.358 7.5-7.5s-3.358-7.5-7.501-7.5z" />
            <path
              d="m167.249 339.593c-19.587 1.509-30.57 10.526-40.262 18.481-9.998 8.208-18.633 15.297-36.656 15.297s-26.659-7.089-36.657-15.297c-10.679-8.767-22.782-18.703-46.174-18.703-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5c18.023 0 26.658 7.089 36.656 15.297 10.679 8.767 22.782 18.703 46.175 18.703 23.392 0 35.496-9.937 46.175-18.703 9.133-7.498 17.021-13.974 31.896-15.119 4.13-.318 7.22-3.924 6.901-8.054s-3.909-7.224-8.054-6.902z" />
          </svg>
          <div class="infodata">{{stats.floodedArea.toFixed(3)}} km<sup>2</sup></div>
          <div class="textInfo">Zone innondée</div>
        </mat-card>
        <mat-card class="infoCard">
          <svg class="pinkColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 60" x="0px" y="0px">
            <g data-name="Layer 6">
              <path
                d="M24,21.52246a9.69776,9.69776,0,1,0-9.69824-9.69775A9.70908,9.70908,0,0,0,24,21.52246ZM24,4.127a7.69776,7.69776,0,1,1-7.69824,7.69776A7.70648,7.70648,0,0,1,24,4.127Z" />
              <path
                d="M33.6875,22.04346H14.3125A8.90731,8.90731,0,0,0,5.415,30.94092,13.53894,13.53894,0,0,0,18.93848,44.46484h10.123A13.53894,13.53894,0,0,0,42.585,30.94092,8.90731,8.90731,0,0,0,33.6875,22.04346Zm-4.626,20.42138h-10.123A11.53632,11.53632,0,0,1,7.415,30.94092a6.905,6.905,0,0,1,6.89746-6.89746h19.375A6.905,6.905,0,0,1,40.585,30.94092,11.53632,11.53632,0,0,1,29.06152,42.46484Z" />
            </g>
          </svg>
          <div class="infodata">{{stats.floodedPeople}}</div>
          <div class="textInfo">Nombre de citoyens touchés</div>
        </mat-card>
        <mat-card class="infoCard">
          <svg class="yellowColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66 82.5" x="0px" y="0px">
            <g data-name="Layer 17">
              <path d="M44,32H36a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1h8a1,1,0,0,0,1-1V33A1,1,0,0,0,44,32Zm-1,6H37V34h6Z" />
              <path
                d="M12.75,30.66,33,7.52,53.25,30.66A1,1,0,0,0,54,31a1,1,0,0,0,.75-1.66l-21-24a1,1,0,0,0-1.5,0l-21,24a1,1,0,1,0,1.5,1.32Z" />
              <path d="M16,21a1,1,0,0,0,1-1V14h3a1,1,0,0,0,0-2H16a1,1,0,0,0-1,1v7A1,1,0,0,0,16,21Z" />
              <path
                d="M64,44.38a6.31,6.31,0,0,0-1.13.09,32,32,0,1,0-59.74,0A6.31,6.31,0,0,0,2,44.38a1,1,0,0,0,0,2,4.22,4.22,0,0,1,2.15.52l0,0a32,32,0,0,0,57.62,0l0,0A4.16,4.16,0,0,1,64,46.38a1,1,0,0,0,0-2ZM33,3A30,30,0,0,1,60.31,45.38a4,4,0,0,1-1.48.24,4.23,4.23,0,0,1-2.16-.52,6.67,6.67,0,0,0-6,0c-.22.1-.42.19-.64.27V31a1,1,0,0,0-2,0V45.59a4.33,4.33,0,0,1-1.67-.49,6.67,6.67,0,0,0-6,0,4.7,4.7,0,0,1-4.3,0,6.67,6.67,0,0,0-6,0,4.22,4.22,0,0,1-2.15.52,4.16,4.16,0,0,1-2.15-.52,6.09,6.09,0,0,0-3-.72,6,6,0,0,0-3,.72,4.22,4.22,0,0,1-1.64.49V31a1,1,0,0,0-2,0V45.38a6.21,6.21,0,0,1-.66-.28,6.09,6.09,0,0,0-3-.72,6.07,6.07,0,0,0-3,.72,4.22,4.22,0,0,1-2.15.52,4.26,4.26,0,0,1-1.47-.23A30,30,0,0,1,33,3ZM18,47.6a5.94,5.94,0,0,0,2.5-.7,4.22,4.22,0,0,1,2.15-.52,4.22,4.22,0,0,1,2.15.52,6.09,6.09,0,0,0,3,.72,6,6,0,0,0,3-.72A4.22,4.22,0,0,1,33,46.38a4.16,4.16,0,0,1,2.15.52,6.69,6.69,0,0,0,6,0,4.16,4.16,0,0,1,2.15-.52,4.22,4.22,0,0,1,2.15.52,6,6,0,0,0,2.53.7V52H18ZM33,63A30,30,0,0,1,6.81,47.61h.35a6.12,6.12,0,0,0,3-.72,4.15,4.15,0,0,1,2.14-.52,4.16,4.16,0,0,1,2.15.52,6.38,6.38,0,0,0,1.53.57V53a1,1,0,0,0,1,1H49a1,1,0,0,0,1-1V47.46a6.76,6.76,0,0,0,1.5-.56,4.73,4.73,0,0,1,4.31,0,6.09,6.09,0,0,0,3,.72h.36A30,30,0,0,1,33,63Z" />
            </g>
          </svg>
          <div class="infodata">{{stats.floodedAddresses}}</div>
          <div class="textInfo">Nombre de demeures touchés</div>
        </mat-card>
        <mat-card class="infoCard">
          <svg class="greenColor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1" x="0px" y="0px" viewBox="0 0 512 640" style="enable-background:new 0 0 512 512;"
            xml:space="preserve">
            <g>
              <g>
                <g>
                  <path
                    d="M298.52,454.425H128.441c-2.609,0-4.725-2.114-4.725-4.724V185.134c0-34.285,13.21-66.376,37.196-90.363     c23.986-23.986,56.078-37.196,90.363-37.196h9.449c34.285,0,66.376,13.21,90.362,37.196     c23.986,23.987,37.196,56.078,37.196,90.363v75.591c0,2.609-2.114,4.725-4.725,4.725h-23.621v80.314     c0,2.609-2.115,4.725-4.725,4.725h-51.969v99.213C303.244,452.311,301.129,454.425,298.52,454.425z M133.166,444.977h160.629     v-99.213c0-2.609,2.115-4.725,4.725-4.725h51.969v-80.314c0-2.609,2.115-4.725,4.725-4.725h23.622v-70.866     c0-65.126-52.984-118.11-118.11-118.11h-9.449c-65.126,0-118.11,52.984-118.11,118.11V444.977z" />
                </g>
                <g>
                  <path
                    d="M298.516,454.425c-0.95,0-1.91-0.285-2.742-0.88L163.49,359.057c-2.123-1.516-2.615-4.467-1.099-6.59     c1.517-2.124,4.466-2.617,6.591-1.099l132.283,94.488c2.123,1.517,2.615,4.467,1.099,6.591     C301.442,453.737,299.989,454.425,298.516,454.425z" />
                </g>
                <g>
                  <path
                    d="M251.272,378.835c-0.986,0-1.981-0.308-2.831-0.945l-75.59-56.692c-2.087-1.566-2.511-4.527-0.945-6.614     c1.566-2.088,4.527-2.511,6.614-0.945l75.591,56.693c2.087,1.565,2.51,4.526,0.945,6.614     C254.127,378.183,252.708,378.835,251.272,378.835z" />
                </g>
                <g>
                  <path
                    d="M279.622,284.347h-56.693c-2.609,0-4.725-2.115-4.725-4.725v-41.255c-23.056-12.199-37.795-36.478-37.795-62.682     c0-39.076,31.791-70.866,70.866-70.866c39.076,0,70.866,31.791,70.866,70.866c0,26.204-14.738,50.483-37.795,62.682v41.255     C284.347,282.231,282.231,284.347,279.622,284.347z M227.653,274.897h47.244v-39.445c0-1.824,1.05-3.485,2.697-4.267     c21.321-10.13,35.099-31.916,35.099-55.5c0-33.866-27.553-61.417-61.418-61.417c-33.866,0-61.417,27.552-61.417,61.417     c0,23.584,13.777,45.37,35.098,55.5c1.647,0.782,2.697,2.443,2.697,4.267V274.897z" />
                </g>
                <g>
                  <path
                    d="M270.173,312.693h-37.795c-2.609,0-4.725-2.115-4.725-4.725v-28.347c0-2.609,2.116-4.725,4.725-4.725h37.795     c2.61,0,4.725,2.115,4.725,4.725v28.347C274.897,310.578,272.783,312.693,270.173,312.693z M237.103,303.244h28.347v-18.897     h-28.347V303.244z" />
                </g>
                <g>
                  <path
                    d="M251.275,284.347c-2.609,0-4.724-2.115-4.724-4.725v-85.04c0-2.609,2.115-4.724,4.724-4.724     c2.609,0,4.725,2.115,4.725,4.724v85.04C256,282.231,253.885,284.347,251.275,284.347z" />
                </g>
                <g>
                  <path
                    d="M251.275,199.307c-13.025,0-23.622-10.597-23.622-23.622s10.597-23.622,23.622-23.622s23.622,10.597,23.622,23.622     S264.301,199.307,251.275,199.307z M251.275,161.512c-7.815,0-14.173,6.358-14.173,14.173s6.358,14.173,14.173,14.173     c7.815,0,14.174-6.358,14.174-14.173S259.091,161.512,251.275,161.512z" />
                </g>
              </g>
            </g>
          </svg>
          <div class="infodata">{{bornes.length}}</div>
          <div class="textInfo">Nombre de borne active</div>
        </mat-card>
      </div>
      <div class="cardContent">
        <div class="card-header-content">
          <div class="header">
            <div class="cardTitle">Les derniers rapports</div>
          </div>

          <mat-card class="reportCard">
            <table mat-table [dataSource]="reports">
              <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->


              <!-- Position Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let element"><img src={{iconFromType(element)}}></td>
              </ng-container>

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let element">{{ getId(element.eventId) }}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="description" class="test">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element">{{ element.description }}</td>
              </ng-container>



              <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon matTooltip={{getSchedule(element.createdDateTime)}}>schedule</mat-icon>
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon matTooltip="Supprimer le rapport" (click)="deletereport(element.eventId)">delete</mat-icon>
                </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedReportsColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedReportsColumns"></tr>
            </table>
          </mat-card>
        </div>
        <div class="card-header-content">
          <div class="header">
            <div class="cardTitle">Bornes</div>
          </div>
          <mat-card class="dashboard-card">
            <table mat-table [dataSource]="bornes">
              <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let element">{{ getId(element.deviceId) }}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="waterLevel">
                <th mat-header-cell *matHeaderCellDef>Niveau d'eau</th>
                <td mat-cell *matCellDef="let element">{{ element.currentWaterLevel }}</td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>status</th>
                <td mat-cell *matCellDef="let element">
                  <mat-chip-list aria-label="Fish selection">
                    <mat-chip [class.active]="element.status === 0" [class.inactive]="element.status === 1">{{
                    element.status === 0 ? 'Active' : 'Inactive'
                  }}</mat-chip>
                  </mat-chip-list>
                  <!-- <mat-chip *ngIf={{element.status === 0}}>One fishtt</mat-chip> -->
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon matTooltip="Restaurer la borne">restore</mat-icon>
                  <mat-icon matTooltip="Redémarrer la borne">power_settings_new</mat-icon>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedBornesColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedBornesColumns"></tr>
            </table>
          </mat-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="SMS">
      <div class="smsContent">
        <h2>Envoyer une alerte Sms</h2>
        <div class="row">
          <mat-form-field class="example-full-width first">
            <mat-label>Entrez une adresse</mat-label>
            <input [(ngModel)]="address" #search matInput placeholder="Search Nearest Location" autocorrect="off"
              autocapitalize="off" spellcheck="off" matInput />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Entrez le rayon d'application</mat-label>
            <input [(ngModel)]="radius" matInput placeholder="" />
          </mat-form-field>
        </div>
        <mat-form-field class="example-full-width">
          <mat-label>Saisissez le message qui sera envoyé</mat-label>
          <textarea [(ngModel)]="textToSend" matInput placeholder=""></textarea>
        </mat-form-field>
        <div *ngIf="!isSending && !isSucess && !isEchec" class="action">
          <button mat-raised-button color="primary" (click)="SendSms()">
            Envoyer
          </button>
        </div>
        <div *ngIf="isSending" class="dialog-content__spinner">
          <mat-spinner [diameter]="40"></mat-spinner>
        </div>
        <div *ngIf="isSucess" class="dialog-content__check">
          <mat-icon aria-hidden="false" aria-label="Example home icon">done_outline</mat-icon>
          <span class="alert">Votre signalement à bien été envoyé.</span>
        </div>
        <div *ngIf="isEchec" class="dialog-content__error">
          <mat-icon aria-hidden="false" aria-label="Example home icon">cancel</mat-icon>
          <span class="alert">Votre signalement n'a pas été envoyé.</span>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<mat-chip-list aria-label="Fish selection"> </mat-chip-list>
