.close {
  width: 22px;
  margin-left: 22px;
  margin-right: -7px;
  margin-top: 10px;
  float: right;
  align-self: flex-start;
}
.header-content {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 20px;
}
svg {
  width: 41px;
  height: 41px;
  cursor: pointer;
}
.active {
  fill: #f08337;
}
.textArea {
  border-radius: 20px;
  flex-grow: 1;

  max-width: 337px;
  margin-left: 10px;
}
.comments {
  display: flex;
  .comments-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #f3f4f5;
    margin-bottom: 15px;
    span.bold {
      font-weight: 500;
    }
  }
}
.mat-form-field {
  display: block !important;
}

.dialog-content__actions {
  button {
    width: -webkit-fill-available;
  }
}

.thumb {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  mat-icon {
    font-size: xx-large;
    cursor: pointer;
  }
  .thumb_up {
    color: green;
  }
  .thumb_down {
    margin-top: 34px;
    color: red;
  }
}
.shedule {
  font-size: 13px;
}
.dialog-content__check {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
  color: green;

  button {
    margin-top: 52px;
  }
}
.dialog-content__error {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
  color: red;

  button {
    margin-top: 52px;
  }
}
.likes {
  position: relative;
  left: 10px;
  top: 10px;
}
