<div id="signup">
  <h1>Sign-In</h1>
  <form [formGroup]="authentificationform" (ngSubmit)="handleFormSubmit(authentificationform)">
    <div class="form">
      <div class="top-row">
        <mat-form-field appearance="legacy">
          <mat-label>Email Addres</mat-label>
          <input formControlName="email" matInput placeholder="Email" />
        </mat-form-field>

        <div class="password">
          <mat-form-field appearance="legacy">
            <mat-label>Password</mat-label>
            <input formControlName="password" type="password" matInput placeholder="Password" />
          </mat-form-field>
          <span class="forgot">Forgot your password ?</span>
        </div>
        <button type="submit" mat-raised-button>Connexion</button>
        <div class="register">
          <span (click)="register()">Register</span>
        </div>
      </div>
    </div>
  </form>
</div>
