.tab-content {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.top-row {
  display: flex;
  flex-direction: column;
  //width: 25vw;
  &__fields {
    display: flex;
    flex-wrap: wrap;

    &-only{
      mat-form-field {
        width: -webkit-fill-available;
      }
     
    }

    &-margin-right {
      margin-right: 24px;
    }

    mat-form-field {
      flex-grow: 1;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
}


button{
  background-color:#5176A6;
  color:white;
}

div#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1px;
  padding: 32px;
  margin-bottom: 24px;
  //max-width: 700px;
}
