<div id="signup" fxLayout="row" fxLayoutAlign="center">
  <h1>Sign-Up</h1>

  <form [formGroup]="registerform" (ngSubmit)="handleFormSubmit(registerform)">
    <div fxLayout="column" class="form">
      <div class="top-row">
        <div class="top-row__fields">
          <mat-form-field class="top-row__fields-margin-right" appearance="legacy">
            <mat-label>FirstName</mat-label>
            <input formControlName="firstName" matInput placeholder="Password" />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>LastName</mat-label>
            <input formControlName="lastName" matInput placeholder="Password" />
          </mat-form-field>
        </div>

        <div class="top-row__fields-only">
          <mat-form-field appearance="legacy">
            <mat-label>Numéro de téléphone</mat-label>
            <input [textMask]="{ mask: mask }" formControlName="phone" matInput placeholder="Numéro de téléphone" />
          </mat-form-field>
        </div>

        <div class="top-row__fields-only">
          <mat-form-field appearance="legacy">
            <mat-label>Email Addres</mat-label>
            <input formControlName="email" matInput placeholder="Email" />
          </mat-form-field>
        </div>

        <div class="top-row__fields">
          <mat-form-field class="top-row__fields-margin-right" appearance="legacy">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="password" matInput placeholder="Password" />
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Confirm password</mat-label>
            <input type="password" formControlName="confirmPassword" matInput placeholder="Password" />
          </mat-form-field>
        </div>

        <button type="submit" [disabled]="!registerform.valid" mat-raised-button>Inscription</button>
      </div>
    </div>
  </form>
</div>
