<mat-toolbar class="tool-bar" role="heading">
  <div class="tool-bar__right-icon">
    <button (click)="navigateTo()" mat-button>{{ title }}</button>
  </div>

  <div class="tool-bar__left-icon">
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="signIn()">Mon compte</button>
    </mat-menu>
  </div>
</mat-toolbar>
