<app-tool-bar-dashboard (signInRouter)="navigateTo($event)"></app-tool-bar-dashboard>
<mat-drawer-container class="app-drawer-container" fullscreen>
  <div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
