.app-drawer-container {
  flex: 1;
  margin-top: 64px;
}

.app-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}
::ng-deep.mat-drawer-content {
  background-color: #f0f1f5 !important;
}
